body {
    background: #2D2D2D;
}

nav{
    margin-left: 40px;
    margin-top: 40px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-style: Bold;
    font-size: 32px;
    color: #FFFFFF
}

section label {
    font-family: 'Raleway', sans-serif;
    color: #FFFFFF;
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 18px;
    font-weight: mixed;
    padding-top: 10px;
    
}

form input{
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    width: 520px;
    height: 45px;
    margin-top: 7px;
    padding: 5px 0px 5px 12px;
    color:#616161 ;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-size: 14px;
    
}

    

form{
    display: flex;
    flex-direction: column;
    padding: 10px;
    
}

button{
    background:#0C70F2;
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    Font-size: 18px;
    font-weight: bold;
    border: none;
    width: 530px;
    height: 45px;
    border-radius: 5px;
    margin-top: 25px;
    padding: 15px 0px 35px 0px;
    align-items:center ;
}

button:hover{
    cursor: pointer;
}

span{
    color: #E73550;
    text-align: right;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-size: 12px;
    padding-top: 3px;
}

